<!-- <form action="/" method="post">
	<input type="text" name="sentence" value=<%= @acronym %>>
	<button>Submit</button>
</form>
<% #if !@acronym.empty? %>
	<p>Your Acronym: <%= @acronym%> </p>
<% #end %> -->

<form method="get" action="/">
	<h4>Message:</h4>
	<input name="word">
	<button>submit</button>
</form>